/ {
    leds {
            compatible = "gpio-leds";
        
            gpio2: gpio_2 {
                gpios = <&gpio0 2 GPIO_ACTIVE_HIGH>;
                label = "gpio2";
            };
            gpio3: gpio_3 {
                gpios = <&gpio0 3 GPIO_ACTIVE_HIGH>;
                label = "gpio3";
            };
            gpio4: gpio_4 {
                gpios = <&gpio0 4 GPIO_ACTIVE_HIGH>;
                label = "gpio4";
            };
            gpio5: gpio_5 {
                gpios = <&gpio0 5 GPIO_ACTIVE_HIGH>;
                label = "gpio5";
            };
	    
	    gpio0: gpio_0 {
	    	gpios = <&gpio0 0 GPIO_ACTIVE_HIGH>;
		label = "gpio0";
	    };
	    
	    gpio1: gpio_1 {
		gpios = <&gpio0 1 GPIO_ACTIVE_HIGH>;
		label = "gpio1";
	    };
    };
    aliases {
	gpio2 = &gpio2;
        gpio3 = &gpio3;
        gpio4 = &gpio4;
        gpio5 = &gpio5;
	gpio0 = &gpio0;
	gpio1 = &gpio1;
	};
};
